/**
 * Style for responsive menu
 */

  /**
  * Navbar
  */
  @media screen and (max-width: 1720px) {
      .rm-desktop a {
          padding-left: 0.1em;
          padding-right: 0.1em;
      }
  }

  @media screen and (max-width: 1045px) {
      .rm-desktop a {
          padding-left: 0;
          padding-right: 0;
      }
  }

  @media screen and (max-width: 1001px) {
      .rm-desktop li {
          padding-left: 0.2em;
          padding-right: 0.2em;
      }
  }

  @media screen and (max-width: 914px) {
      .rm-desktop li {
          padding-left: 0;
          padding-right: 0;
      }
  }

  @media screen and (max-width: 856px) {
      .rm-desktop {
          display: none;
      }
  }

 @media screen and (min-width: 856px) {
     .rm-small {
         display: none;
     }
 }
